{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <h3>
                    الطلبات الغير المُرسلة
                </h3>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Order Number</th>
                            <th scope="col">Price</th>
                            <th scope="col">Customer Email</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Shipped</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in orders %}
                        <tr>
                            <th><a href="{% url 'orders' item.id %}">{{item.id}}</a></th>
                            <td>{{item.amount_paid}}</td>
                            <td>{{item.order_email}}</td>
                            <td>{{item.date_ordered}}</td>
                            <td>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="shipping_status" value="true">
                                    <input type="hidden" name="num" value="{{item.id}}">
                                    <button type="submit" class="btn btn-success btn-sm">
                                        تم الشحن
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </center>
    </div>
</div>
{% endblock%}