{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> تحديث الملف الشخصي </h1>
            <p class="lead fw-normal text-white-50 mb-0">تحديث ملف المستخدم</p>
        </div>
    </div>
</header>
</br>
</br>
</br>
<!-- Section-->
<div class="container">
    <div class="row">

        <div class="col-md-6 offset-md-3">
            <form method="POST" action="{% url 'update_user' %}">
                {% csrf_token %}

                {{user_form.as_p}}
                </br>
                <button type="submit" class="btn btn-secondary">تحديث ملف المستخدم</button>
                </br>
                </br>
            </form>
            <a class="btn btn-success" href="{% url 'update_password' %}">تحديث كلمة المرور</a>
            </br>
            </br></br>
            </br>
        </div>
        </br>
        </br>
        </br>
    </div>
</div>

{% endblock%}