{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">عربة التسوق</h1>
            <p class="lead fw-normal text-white-50 mb-0">عرض عربة التسوق الخاصة بك</p>
        </div>
    </div>
</header>

</br>
<div class="container">
    {% if cart_products %}
    {% for product in cart_products%}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="product.name">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{product.name}}</h5>
                        </br>
                        <p class="card-text">{{product.description}}</p>
                        {% if product.is_on_sale %}
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            &nbsp;&nbsp;عرض!&nbsp;&nbsp;
                            <div class="bi-star-fill"></div>
                        </div>
                        <!-- Product price-->
                        <span class="text-muted text-decoration-line-through">{{product.price}} NIS</span>
                        </br>
                        {{product.sale_price}} NIS
                        </br>
                        {% else %}
                        {{product.price}} NIS
                        {% endif %}
                        </br>
                        </br>
                        <div class="row justify-content-center">
                            <div class="col-md-2">الكمية : </div>
                            <div class="col-md-2">
                                <select class="form-select form-select-sm" aria-label="Default select example"
                                    id="select{{product.id}}">
                                    <option selected>
                                        {% for key,value in quantities.items%}
                                        {% if key == product.id|slugify %}
                                        {{value}}
                                        {% endif %}
                                        {% endfor %}

                                    </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        </br>
                        </br>

                        <a class="btn btn-secondary" href="{% url 'home' %}"> الصفحة الرئيسية </a>

                        <button type="button" data-index="{{product.id}}"
                            class="btn btn-secondary update-cart">تعديل</button>

                        <button type="button" data-index="{{product.id}}"
                            class="btn btn-danger delete-product">حذف</button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    </br>
    <div align="right">
        <strong> المجموع : {{totals}} شيكل </strong>
    </div>
    <a href="{% url 'checkout' %}" class="btn btn-success" style="margin-left: 10px;">ادفع</a>

    </br>
    </br>
    </br>
    </br>
    {% else %}
    <p>لا توجد منتجات في عربة التسوق الخاصة بك</p>
    {% endif %}


</div>

<script>
    // update
    $(document).on('click', '.update-cart', function (e) {

        e.preventDefault();

        var productId = $(this).data('index');

        $.ajax({
            type: 'POST',
            url: '{% url "cart_update" %}',
            data: {
                product_id: $(this).data('index'),
                product_qty: $('#select' + productId + ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post',
            },
            success: function (json) {
                // document.getElementById("cart_quantity").textContent = json.qty
                console.log("updated to", json.qty)
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    })


    // delete
    $(document).on('click', '.delete-product', function (e) {

        e.preventDefault();

        var productId = $(this).data('index');

        $.ajax({
            type: 'POST',
            url: '{% url "cart_delete" %}',
            data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post',
            },
            success: function (json) {
                // document.getElementById("cart_quantity").textContent = json.qty
                console.log("deleted")
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    })

</script>


{% endblock%}